/* We do a little controlc + controlv */

.particle {
    position: absolute;
    border-radius: 50%;
  }
  @keyframes particle-animation-1 {
    100% {
      transform: translate3d(75vw, 27vh, 37px);
    }
  }
  .particle:nth-child(1) {
    animation: particle-animation-1 60s infinite;
    opacity: 0.74;
    height: 7px;
    width: 7px;
    animation-delay: -0.2s;
    transform: translate3d(67vw, 10vh, 68px);
    background: #2685d9;
  }
  @keyframes particle-animation-2 {
    100% {
      transform: translate3d(39vw, 49vh, 95px);
    }
  }
  .particle:nth-child(2) {
    animation: particle-animation-2 60s infinite;
    opacity: 0.2;
    height: 9px;
    width: 9px;
    animation-delay: -0.4s;
    transform: translate3d(74vw, 35vh, 35px);
    background: #26d956;
  }
  @keyframes particle-animation-3 {
    100% {
      transform: translate3d(17vw, 21vh, 77px);
    }
  }
  .particle:nth-child(3) {
    animation: particle-animation-3 60s infinite;
    opacity: 0.17;
    height: 6px;
    width: 6px;
    animation-delay: -0.6s;
    transform: translate3d(17vw, 2vh, 18px);
    background: #47d926;
  }
  @keyframes particle-animation-4 {
    100% {
      transform: translate3d(5vw, 83vh, 64px);
    }
  }
  .particle:nth-child(4) {
    animation: particle-animation-4 60s infinite;
    opacity: 0.87;
    height: 6px;
    width: 6px;
    animation-delay: -0.8s;
    transform: translate3d(23vw, 87vh, 61px);
    background: #a6d926;
  }
  @keyframes particle-animation-5 {
    100% {
      transform: translate3d(52vw, 89vh, 79px);
    }
  }
  .particle:nth-child(5) {
    animation: particle-animation-5 60s infinite;
    opacity: 0.71;
    height: 9px;
    width: 9px;
    animation-delay: -1s;
    transform: translate3d(86vw, 89vh, 64px);
    background: #26b5d9;
  }
  @keyframes particle-animation-6 {
    100% {
      transform: translate3d(41vw, 48vh, 17px);
    }
  }
  .particle:nth-child(6) {
    animation: particle-animation-6 60s infinite;
    opacity: 0.42;
    height: 7px;
    width: 7px;
    animation-delay: -1.2s;
    transform: translate3d(77vw, 17vh, 52px);
    background: #d926a9;
  }
  @keyframes particle-animation-7 {
    100% {
      transform: translate3d(39vw, 35vh, 98px);
    }
  }
  .particle:nth-child(7) {
    animation: particle-animation-7 60s infinite;
    opacity: 0.85;
    height: 9px;
    width: 9px;
    animation-delay: -1.4s;
    transform: translate3d(38vw, 2vh, 96px);
    background: #26c7d9;
  }
  @keyframes particle-animation-8 {
    100% {
      transform: translate3d(39vw, 1vh, 58px);
    }
  }
  .particle:nth-child(8) {
    animation: particle-animation-8 60s infinite;
    opacity: 0.92;
    height: 9px;
    width: 9px;
    animation-delay: -1.6s;
    transform: translate3d(33vw, 88vh, 45px);
    background: #26d93e;
  }
  @keyframes particle-animation-9 {
    100% {
      transform: translate3d(32vw, 89vh, 27px);
    }
  }
  .particle:nth-child(9) {
    animation: particle-animation-9 60s infinite;
    opacity: 0.95;
    height: 7px;
    width: 7px;
    animation-delay: -1.8s;
    transform: translate3d(12vw, 52vh, 99px);
    background: #26cdd9;
  }
  @keyframes particle-animation-10 {
    100% {
      transform: translate3d(55vw, 63vh, 90px);
    }
  }
  .particle:nth-child(10) {
    animation: particle-animation-10 60s infinite;
    opacity: 0.67;
    height: 6px;
    width: 6px;
    animation-delay: -2s;
    transform: translate3d(70vw, 58vh, 95px);
    background: #bbd926;
  }
  @keyframes particle-animation-11 {
    100% {
      transform: translate3d(40vw, 39vh, 62px);
    }
  }
  .particle:nth-child(11) {
    animation: particle-animation-11 60s infinite;
    opacity: 0.27;
    height: 7px;
    width: 7px;
    animation-delay: -2.2s;
    transform: translate3d(9vw, 77vh, 31px);
    background: #26a9d9;
  }
  @keyframes particle-animation-12 {
    100% {
      transform: translate3d(42vw, 31vh, 89px);
    }
  }
  .particle:nth-child(12) {
    animation: particle-animation-12 60s infinite;
    opacity: 0.89;
    height: 7px;
    width: 7px;
    animation-delay: -2.4s;
    transform: translate3d(16vw, 86vh, 12px);
    background: #d99126;
  }
  @keyframes particle-animation-13 {
    100% {
      transform: translate3d(75vw, 49vh, 81px);
    }
  }
  .particle:nth-child(13) {
    animation: particle-animation-13 60s infinite;
    opacity: 0.03;
    height: 6px;
    width: 6px;
    animation-delay: -2.6s;
    transform: translate3d(65vw, 18vh, 16px);
    background: #26d9c4;
  }
  @keyframes particle-animation-14 {
    100% {
      transform: translate3d(75vw, 81vh, 13px);
    }
  }
  .particle:nth-child(14) {
    animation: particle-animation-14 60s infinite;
    opacity: 0.53;
    height: 10px;
    width: 10px;
    animation-delay: -2.8s;
    transform: translate3d(25vw, 39vh, 93px);
    background: #26d9cd;
  }
  @keyframes particle-animation-15 {
    100% {
      transform: translate3d(89vw, 11vh, 82px);
    }
  }
  .particle:nth-child(15) {
    animation: particle-animation-15 60s infinite;
    opacity: 0.69;
    height: 6px;
    width: 6px;
    animation-delay: -3s;
    transform: translate3d(34vw, 8vh, 4px);
    background: #d9262f;
  }
  @keyframes particle-animation-16 {
    100% {
      transform: translate3d(13vw, 52vh, 70px);
    }
  }
  .particle:nth-child(16) {
    animation: particle-animation-16 60s infinite;
    opacity: 0.26;
    height: 9px;
    width: 9px;
    animation-delay: -3.2s;
    transform: translate3d(59vw, 70vh, 80px);
    background: #26d965;
  }
  @keyframes particle-animation-17 {
    100% {
      transform: translate3d(77vw, 47vh, 8px);
    }
  }
  .particle:nth-child(17) {
    animation: particle-animation-17 60s infinite;
    opacity: 0.13;
    height: 7px;
    width: 7px;
    animation-delay: -3.4s;
    transform: translate3d(24vw, 45vh, 90px);
    background: #26d94d;
  }
  @keyframes particle-animation-18 {
    100% {
      transform: translate3d(65vw, 52vh, 45px);
    }
  }
  .particle:nth-child(18) {
    animation: particle-animation-18 60s infinite;
    opacity: 0.36;
    height: 9px;
    width: 9px;
    animation-delay: -3.6s;
    transform: translate3d(65vw, 16vh, 5px);
    background: #d926ac;
  }
  @keyframes particle-animation-19 {
    100% {
      transform: translate3d(81vw, 16vh, 35px);
    }
  }
  .particle:nth-child(19) {
    animation: particle-animation-19 60s infinite;
    opacity: 0.85;
    height: 7px;
    width: 7px;
    animation-delay: -3.8s;
    transform: translate3d(6vw, 71vh, 99px);
    background: #26cad9;
  }
  @keyframes particle-animation-20 {
    100% {
      transform: translate3d(23vw, 6vh, 60px);
    }
  }
  .particle:nth-child(20) {
    animation: particle-animation-20 60s infinite;
    opacity: 0.84;
    height: 7px;
    width: 7px;
    animation-delay: -4s;
    transform: translate3d(17vw, 75vh, 24px);
    background: #3ed926;
  }
  @keyframes particle-animation-21 {
    100% {
      transform: translate3d(52vw, 63vh, 39px);
    }
  }
  .particle:nth-child(21) {
    animation: particle-animation-21 60s infinite;
    opacity: 0.28;
    height: 6px;
    width: 6px;
    animation-delay: -4.2s;
    transform: translate3d(53vw, 87vh, 89px);
    background: #b5d926;
  }
  @keyframes particle-animation-22 {
    100% {
      transform: translate3d(11vw, 50vh, 84px);
    }
  }
  .particle:nth-child(22) {
    animation: particle-animation-22 60s infinite;
    opacity: 0.94;
    height: 7px;
    width: 7px;
    animation-delay: -4.4s;
    transform: translate3d(13vw, 87vh, 93px);
    background: #d9b226;
  }
  @keyframes particle-animation-23 {
    100% {
      transform: translate3d(37vw, 63vh, 71px);
    }
  }
  .particle:nth-child(23) {
    animation: particle-animation-23 60s infinite;
    opacity: 0.72;
    height: 6px;
    width: 6px;
    animation-delay: -4.6s;
    transform: translate3d(69vw, 74vh, 55px);
    background: #266bd9;
  }
  @keyframes particle-animation-24 {
    100% {
      transform: translate3d(11vw, 53vh, 57px);
    }
  }
  .particle:nth-child(24) {
    animation: particle-animation-24 60s infinite;
    opacity: 0.98;
    height: 10px;
    width: 10px;
    animation-delay: -4.8s;
    transform: translate3d(40vw, 70vh, 100px);
    background: #d92662;
  }
  @keyframes particle-animation-25 {
    100% {
      transform: translate3d(7vw, 75vh, 83px);
    }
  }
  .particle:nth-child(25) {
    animation: particle-animation-25 60s infinite;
    opacity: 0.81;
    height: 6px;
    width: 6px;
    animation-delay: -5s;
    transform: translate3d(11vw, 41vh, 77px);
    background: #97d926;
  }
  @keyframes particle-animation-26 {
    100% {
      transform: translate3d(42vw, 38vh, 34px);
    }
  }
  .particle:nth-child(26) {
    animation: particle-animation-26 60s infinite;
    opacity: 0.84;
    height: 9px;
    width: 9px;
    animation-delay: -5.2s;
    transform: translate3d(2vw, 40vh, 21px);
    background: #d9264d;
  }
  @keyframes particle-animation-27 {
    100% {
      transform: translate3d(5vw, 65vh, 31px);
    }
  }
  .particle:nth-child(27) {
    animation: particle-animation-27 60s infinite;
    opacity: 0.79;
    height: 6px;
    width: 6px;
    animation-delay: -5.4s;
    transform: translate3d(37vw, 59vh, 27px);
    background: #26d9ca;
  }
  @keyframes particle-animation-28 {
    100% {
      transform: translate3d(22vw, 49vh, 16px);
    }
  }
  .particle:nth-child(28) {
    animation: particle-animation-28 60s infinite;
    opacity: 0.12;
    height: 10px;
    width: 10px;
    animation-delay: -5.6s;
    transform: translate3d(33vw, 82vh, 63px);
    background: #9ad926;
  }
  @keyframes particle-animation-29 {
    100% {
      transform: translate3d(72vw, 44vh, 62px);
    }
  }
  .particle:nth-child(29) {
    animation: particle-animation-29 60s infinite;
    opacity: 0.12;
    height: 6px;
    width: 6px;
    animation-delay: -5.8s;
    transform: translate3d(17vw, 13vh, 45px);
    background: #269ad9;
  }
  @keyframes particle-animation-30 {
    100% {
      transform: translate3d(15vw, 39vh, 84px);
    }
  }
  .particle:nth-child(30) {
    animation: particle-animation-30 60s infinite;
    opacity: 0.55;
    height: 6px;
    width: 6px;
    animation-delay: -6s;
    transform: translate3d(84vw, 66vh, 81px);
    background: #d9b226;
  }